.card-text,
.fotoytextogrande,
.card-title {
    text-align: center;
}

.card-body {
    p {
        margin: 0.5rem 1rem;
    }

    h5 {
        margin-top: 1rem;
    }
}

.card {
    margin: 1rem;
    border: none;
    box-shadow: $box-shadow; 
    z-index: -999;

    img {
        padding: 1.5rem;
    }
}