.whatsapp-flotante{
    position: fixed;
    bottom: 13px;
    left: 5px;
    z-index: 99999;
}

.whatsapp-flotante img{
    @include sizes(3rem,3rem);
    margin-left: 5px;
    &:hover{
        transform: scale(1.15) rotate(20deg);
        transition: 200ms ease-out;
    }
}