.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    z-index: -9999;

    .habilidad {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include margin-padding(15px,10px);
        box-shadow: $box-shadow ; /*lo igualo a las card que puse con bootstrap en otras paginas*/
        img{
            @include sizes(200px,200px);
        }
        p{
            max-width: 200px;
            text-align: center;
            margin-top: 12px;
        }
    }
}