/*------- FOOTER -------------*/
footer{
    background-color: $bg-color;
    display: flex;
    justify-content: flex-end;
    align-items:end;
    @include sizes(100%,70px);
    flex: 1;

    img{
        @include sizes(2rem,2rem);
        @include margin-padding(2rem 0.5rem 0.5rem 0, 0.1rem);
        &:hover{
            transform: scale(1.25);
            transition: 100ms ease-out;
        }
    }
}