.nombre,
.nombre:hover,
.nombre:visited {
    text-decoration: none;
    color: $logo-color;
}

.logo-nombre {
    margin: 0.5rem;

    img {
        @include sizes(5rem,5rem);
    }
}

.container-fluid {
    background-color: $bg-color;
    font-size: 1.1rem;
}

.navbar-toggler {
    background-color: $burger-color;

    &:hover {
        background-color: $burger-hover;
    }

    &:focus {
        box-shadow: none;
    }
}

.navbar-logo {
    @include sizes(50px,50px);
    border-radius: 50%;
}